@import "../../utils//colors.css";

.section-headers {
	display: flex;
	flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-headers h2 {
    /* width: 361px; */
	color: var(--text-color);
    font-size: 45px;
    line-height: 60px;
}

.section-headers p {
    /* width: 470px; */
	color: var(--second-text-color);
    font-size: 16px;
    line-height: 25px;
}

.section-headers p:nth-of-type(1) {
    margin-top: 15px;
}
